h1{
  text-align: center;
}
#signUp{
  text-align: center;
}
#formId {
  text-align: center;
}
#logIn {
  padding: 20px 20px 20px 20px;
}

#logOut {
  padding: 20px 20px 20px 20px;
}

#signUp {
  padding: 20px 20px 20px 20px;

}


body{
  background-color: blue;
};
